<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <h1>Superheroes!</h1>
  </div>
  <div class="row justify-content-center align-items-center">
    <input #searchInput type="text" id="search" class="col-9" placeholder="Search fo hero...">
    <button type="button" (click)="searchHero(searchInput.value)" class="btn btn-light ml-1">Search</button>
  </div>
  <div class="row justify-content-center align-items-baseline" *ngIf="heroList; else noContent">
    <div *ngFor="let hero of heroList" class="p-2 m-3 ">
      <div class="card text-center mt-1">
        <div class="card-header">
          {{hero.name}}
        </div>
        <img src="{{hero['thumbnail'].path}}/portrait_medium.{{hero['thumbnail'].extension}}" alt="Image of" class="mx-auto d-block img-thumbnail">
        <div class="card-body">
          <p class="card-text">{{hero.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noContent class="row justify-content-center align-items-center">
    <p class="noContent">Nothing to show! :)</p>
  </ng-template>
</div>
